.specials {
  min-height: 40vh;
  padding: 6rem 0;
}
.specials__container {
  margin: 0 auto;
  max-width: 1600px;
  position: relative;
}

.specials__title {
  font-size: 2rem;
  margin-bottom: 4rem;
}

.specials__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.specials__cards .specials__card {
  width: 300px;

  background: #edefee;
}

.specials__cards .specials__card .specials__card__img {
  width: 100%;
  height: 200px;
}

.specials__cards .specials__card .specials__card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.specials__cards .specials__card .specials__card__info {
  height: 350px;
  padding: 1rem 1rem;
}

.specials__cards .specials__card .specials__card__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.specials__cards .specials__card .specials__card__title h2 {
  color: #ee9972;
}
.specials__cards .specials__card .specials__card__desc {
  margin-bottom: 2rem;
  color: #333;
}

.specials__cards .specials__card .specials__card__order {
  display: flex;
  align-items: center;
}
.specials__cards
  .specials__card
  .specials__card__order
  .specials__card__order-btn {
  cursor: pointer;
  border: none;
  font-weight: 700;
  margin-right: 1rem;
}

.specials__cards
  .specials__card
  .specials__card__order
  .specials__card__orderlogo {
  width: 32px;
  height: 32px;
}

.specials__cards
  .specials__card
  .specials__card__order
  .specials__card__orderlogo
  img {
  width: 100%;
  height: 100%;
}
