.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* primary colors #495e57 #f4ce14 */

/* secondary colors #ee9972 #fbdabb #edefee #333333*/

/* Typefaces */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Markazi Text", serif;
  font-size: 18pt;
}
